<h1>New Releases</h1>

<p>The following is a list of new releases</p>
<p>Click the <b>album cover</b> or <b>artist name</b> for more information</p>

<div class="content">
  <div fxLayout="row wrap" fxLayout.xs="column">
    <!-- Single "Responsive" Card-->
    <div fxFlex [style.margin]="'20px'" *ngFor="let release of releases">
      <mat-card [style.min-width]="'280px'">
        <mat-card-header>
          <mat-card-title>{{ release.name }}</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          class="album-cover"
          src="{{ release.images[1].url }}"
          alt="album art"
          [routerLink]="['/album', release.id]"
        />
        <strong>Release Date: </strong
        >{{ release.release_date | date: "shortDate" }}<br />
        <strong>Tracks: </strong>{{ release.total_tracks }}<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip
              *ngFor="let artist of release.artists"
              [routerLink]="['/artist', artist.id]"
              >{{ artist.name }}</mat-chip
            >
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- -->
  </div>
</div>
© 2021 GitHub, Inc.
